<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test -->
      <package
            uri="platform:/plugin/no.hal.graphql.emf.tests/src/no/hal/graphql/emf/test/test.ecore"
            class="no.hal.graphql.emf.test.TestPackage"
            genModel="src/no/hal/graphql/emf/test/test.genmodel"/>
   </extension>

</plugin>
